<form id="fetch-picture-form" action="/fetchpicture">
  <button class="btn btn-primary" type="submit" name="picturetype" value="today">Today's Picture</button></a>
  <button class="btn btn-primary" type="submit" name="picturetype" value="random">Random Picture</button></a>
</form>

<div id="favorite-navigation">
  <a href="/favorites">
    <button class="btn btn-info">Favorite Pictures</button>
  </a>
</div>
